<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>IMMO ADMINISTRATION</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/plugins/images/favicon.png">
    <!-- Custom CSS -->
   <link href="../../static/css/style.min.css" rel="stylesheet">
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="dashboard.html" >
                        <strong>IMMO ADMINISTRATION</strong> 
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                        href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div>
            
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Estate ID {{ id }}</h3>
                            <div class="table-responsive">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0"></th>
                                            <th class="border-top-0">CRIM</th>
                                            <th class="border-top-0">ZN</th>
                                            <th class="border-top-0">INDUS</th>
                                            <th class="border-top-0">CHAS</th>
                                            <th class="border-top-0">NOX</th>
                                            <th class="border-top-0">RM</th>
                                            <th class="border-top-0">AGE</th>
                                            <th class="border-top-0">DIS</th>
                                            <th class="border-top-0">RAD</th>
                                            <th class="border-top-0">TAX</th>
                                            <th class="border-top-0">PTRATIO</th>
                                            <th class="border-top-0">LSTAT</th>
                                            <th class="border-top-0"> MEDV </th>
                                            <th class="border-top-0">YEAR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in page_obj %}
                                        <tr>
                                            <td><button class="btn btn-success text-white btn-circle btn" type="button">
                                                <i class="fas fa-redo-alt" onclick="modify_record('{{ item.ESTATEID }}', '{{ item.YEAR }}')"></i>
                                            </button></td>
                                            <td>{{ item.CRIM }}</td>
                                            <td>{{ item.ZN }}</td>
                                            <td>{{ item.INDUS }}</td>
                                            <td>{{ item.CHAS }}</td>
                                            <td>{{ item.NOX }}</td>
                                            <td>{{ item.RM }}</td>
                                            <td>{{ item.AGE }}</td>
                                            <td>{{ item.DIS }}</td>
                                            <td>{{ item.RAD }}</td>
                                            <td>{{ item.TAX }}</td>
                                            <td>{{ item.PTRATIO }}</td>
                                            <td>{{ item.LSTAT }}</td>
                                            <td>{{ item.MEDV }}</td>
                                            <td>{{ item.YEAR }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- Affichage des liens de pagination -->

                                <div class="pagination">
                                    {% if page_obj.has_previous %}
                                    <a href="?page=1&size={{ size }}&id={{ id }}"><button class="btn btn-info text-white btn-circle btn" type="button">1</button></a>
                                    {% if page_obj.previous_page_number != 1 %}
                                    {% if page_obj.previous_page_number > 2 %}
                                    <div class="etc"><p><b>. . .</b></p></div>
                                    {% endif %}
                                    <a href="?page={{ page_obj.previous_page_number }}&size={{ size }}&id={{ id }}"><button class="btn btn-info text-white btn-circle btn" type="button">{{ page_obj.previous_page_number }}</button></a>
                                    {% endif %}
                                    {% endif %}
                                    {% for num in page_obj.paginator.page_range %}
                                        {% if num == page_obj.number %}
                                            <a href="?page={{ num }}&size={{ size }}&id={{ id }}" class="current"><button class="btn btn-info text-white btn-circle btn" type="button">{{ num }}</button></a>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
                                        <a href="?page={{ page_obj.next_page_number }}&size={{ size }}&id={{ id }}"><button class="btn btn-info text-white btn-circle btn" type="button">{{ page_obj.next_page_number }}</button></a>
                                        {% if page_obj.paginator.num_pages != page_obj.next_page_number|add:1 %}
                                        <div class="etc"><p><b>. . .</b></p></div>
                                        {% endif %}
                                        {% endif %}
                                        <a href="?page={{ page_obj.paginator.num_pages }}&size={{ size }}&id={{ id }}"><button class="btn btn-info text-white btn-circle btn" type="button">{{ page_obj.paginator.num_pages }}</button></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center"> 2024 © IMMO ADMINISTRATION
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script>
        function modify_record(id, year){
            console.log("click")
            window.location.href = `/api/modify?id=${id}&year=${year}`;
        }
    </script>
    <style>
        .pagination {
            width: 25%; /* Ajustez la largeur selon vos besoins */
            margin: 0 auto; /* Marge automatique sur les côtés gauche et droit */
        }
        .pagination a {
            padding: 5px 10px;
            margin: 0 5px;
            text-decoration: none;
        }
        .etc {
            padding: 10px 0;
            color: #09f;
        }
    </style>
    <script src="../../static/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="../../static/js/waves.js"></script>
    <!--Custom JavaScript -->
    <script src="../../static/js/custom.js"></script>
</body>

</html>